{% extends 'base.html' %}
{% load static %}

{% block title %}Détails de la Formation{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ formation.intitule }}</h3>
                    <div class="card-tools">
                        <a href="{% url 'administrative:formation_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour à la liste
                        </a>
                        <a href="{% url 'administrative:formation_update' formation.pk %}" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                        <a href="{% url 'administrative:formation_delete' formation.pk %}" class="btn btn-danger">
                            <i class="fas fa-trash"></i> Supprimer
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Informations générales</h4>
                            <table class="table">
                                <tr>
                                    <th>Type de formation</th>
                                    <td>{{ formation.type_formation }}</td>
                                </tr>
                                <tr>
                                    <th>Statut</th>
                                    <td>{{ formation.statut }}</td>
                                </tr>
                                <tr>
                                    <th>Date de début</th>
                                    <td>{{ formation.date_debut|date:"d/m/Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Date de fin</th>
                                    <td>{{ formation.date_fin|date:"d/m/Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Lieu</th>
                                    <td>{{ formation.lieu }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h4>Détails supplémentaires</h4>
                            <table class="table">
                                <tr>
                                    <th>Formateur</th>
                                    <td>{{ formation.formateur|default:"Non spécifié" }}</td>
                                </tr>
                                <tr>
                                    <th>Organisateur</th>
                                    <td>{{ formation.organisateur|default:"Non spécifié" }}</td>
                                </tr>
                                <tr>
                                    <th>Coût</th>
                                    <td>{{ formation.cout|default:"Non spécifié" }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h4>Description</h4>
                            <div class="card">
                                <div class="card-body">
                                    {{ formation.description|default:"Aucune description disponible"|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h4>Objectifs</h4>
                            <div class="card">
                                <div class="card-body">
                                    {{ formation.objectifs|default:"Aucun objectif spécifié"|linebreaks }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 